<!-- <app-hero
   [dataAcessor]="heroes" 
   (dataSender)="dataReceiver($event)">
</app-hero> --> 


<!-- <ul *ngFor="let element of dataChild">
   <li>
       {{ element.id }} - {{ element.lastName }}, {{ element.name }}.
   </li>
</ul>--> 

<h4 (click)="openDialog()">Click me</h4>






































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































