<!-- 
  Activating communication between Top and Children class,
  Remove this comments for using @Input and @Output data binding.   

  <app-hero-list
   [dataAcessor]="heroes" 
   (dataSender)="dataReceiver($event)">
</app-hero-list> 


 <ul *ngFor="let element of dataChild">
   <li>
      {{ element.name }}, {{ element.version }}.
   </li>
</ul>

-->

<section class="col-md-12">
    <button (click)="openDialog()" mat-button color="primary">Open MatDialog By Module Injection</button>
</section>