<section class="container">
    <header class="col-md-12">
        <hgroup>
            <h1> {{pageTitle}}</h1>
            <h4> {{pageCaption}}</h4>
        </hgroup>
    </header>

    <nav class="col-md-12">
        <button mat-raised-button routerLink="/" color="primary">App Module (Hero Module Injected)</button>
        <button mat-raised-button routerLink="/hero" color="primary">Hero Module (Shared Module)</button>
        <button mat-raised-button routerLink="/admin" color="primary">Admin Module (Hero Module Injected)</button>
    </nav>
    <router-outlet></router-outlet>
</section>